@font-face {
  font-family: 'anticon';  /* project id："157396" */
  src: url('//at.alicdn.com/t/font_7swqj3vfl0gujtt9.eot');
  src: url('//at.alicdn.com/t/font_7swqj3vfl0gujtt9.eot') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_7swqj3vfl0gujtt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_7swqj3vfl0gujtt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_7swqj3vfl0gujtt9.svg#iconfont') format('svg');
}





.anticon-xitong:before {content:"\e604" ;}
.anticon-liebiao:before {content:"\e606" ;}
.anticon-shuaxin:before {content:"\e602" ;}
.anticon-xiangxiajiantou:before {content:"\e607" ;}
.anticon-texiaolingsheng:before {content:"\e605" ;}
.anticon-housunshouli:before {content:"\e603" ;}
.anticon-yonghu:before {content:"\e600" ;}
.anticon-dianhua:before {content:"\e601" ;}
.anticon-sousuo:before {content:"\e60a" ;}



